* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
}
.brand {
  margin-right: 50px;
}

/* _______________Navbar________________ */

.navbar {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.ppdb {
  margin-right: 20px;
  border-radius: 10px;
  width: 90px;
}
.logo {
  font-weight: 700;
}
.nav ul li a {
  font-weight: 500;
}
.active {
  color: wheat;
}
/* ----------- Main-Header------------- */
.main-header {
  background-image: url(/img/frozen2-bg.jpg);
  background-size: cover;
  transition: 0.5s;
  padding-bottom: 200px;
  padding-top: 220px;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  text-align: center;
}
.header1 a {
  border-radius: 5px;
}
.header1 h1 {
  text-align: center;
  color: white;
  font-size: 50px;
}
.header1 p {
  text-align: center;
  color: white;
  font-size: 20px;
}

/* ____________________________main-1___________________________ */

.main-1 h2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}
.cards-view {
  display: flex;
  margin-bottom: 90px;
  justify-content: center;
  align-items: center;
  flex: auto;
}
.cards-view .card {
  margin: 15px 20px;
}
.img {
  font-size: 70px;
  text-align: center;
  margin-top: 33px;
}

/* ____________________________main-2____________________________ */

.main-2 {
  width: 100%;
  background-color: #dedede;
  display: flex;
}
.foto {
  position: relative;
  width: 50%;
}
.foto img {
  width: 100%;
}
.main-2 .tentang {
  padding: 100px 40px;
  float: left;
  width: 50%;
}

/* __________________________Main-3______________________________ */

.main-3 .head{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 45px;
}
.berita-card {
  overflow-x: auto;
  overflow-y: none;
  position: relative;
  width: 100%;
  display: flex;
  /* justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  padding: 30px;
}
.berita-card::-webkit-scrollbar {
  display: none;
}
.berita-card .cards {
  position: relative;
  max-width: 300px;
  height: 215px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
  transition: 0.5s ease-in-out;
}
.berita-card .cards:hover {
  height: 420px;
}
.berita-card .cards .imgbx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 5px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
}
.berita-card .cards .imgbx img {
  max-width: 100%;
  border-radius: 4px;
}
.berita-card .cards .berita {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.berita-card .cards:hover .berita  {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

/* __________________________Main-4__________________________________ */

.scroll {
  display: flex;
  overflow-x: auto;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.item {
  min-width: 150px;
  height: 100px;
  background: #111;
  margin: 10px;
}

/* ____________________________Footer____________________________ */
footer {
  background-color: #022534;
  margin: 0;
  padding: 90px 60px;
}
.judul h3 {
  color: white;
  font-size: 24px;
}
.judul p {
  color: white;
  font-size: 15px;
  opacity: 0.7;
}
.media {
  color: white;
  margin: 0 10px;
  font-size: 35px;
  cursor: pointer;
}
