* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}
.brand {
  margin-right: 50px;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.ppdb {
  margin-right: 20px;
  border-radius: 10px;
  width: 90px;
}
.logo {
  font-weight: 700;
}
.nav ul li a {
  font-weight: 500;
}
/* ----------- Main-Header------------- */
.main-header {
  background-image: url(/img/frozen2-bg.jpg);
  background-size: cover;
  transition: 0.5s;
  height: 100vh;
  padding-top: 220px;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  text-align: center;
}
.header1 a {
  border-radius: 10px;
}
.header1 h1 {
  text-align: center;
  color: white;
  font-size: 50px;
}
.header1 p {
  text-align: center;
  color: white;
  font-size: 20px;
}

/* ____________________________main-2___________________________ */

.main-1 h2{
  text-align: center;
  margin: 30px 0;
}
.cards-view {
  display: flex;
  margin-bottom: 50px;
}
.card {
  margin: 0px 20px;
}


/* ____________________________Footer____________________________ */
footer {
  background-color: #022534;
  margin: 0;
  padding: 90px 60px;
}
.judul h3 {
  color: white;
  font-size: 24px;
}
.judul p {
  color: white;
  font-size: 15px;
  opacity: 0.7;
}
.bi {
  color: white;
  margin: 0 10px;
  font-size: 35px;
  cursor: pointer;
}

